name: {{ project_name }}
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.11
  - pip
  - mkl
  - numpy
  - pandas
  - scikit-learn
  - matplotlib
  - seaborn
  - jupyter
  - ipython
  - ipykernel
  - pip:
      - mlflow
      - dvc
      - dvc-s3
      - great-expectations
      - ray[default,serve,data]
      - gitpython
      - pyyaml
      - jinja2
      - pre-commit
      - pytest
      - black
      - flake8
      - mypy
      - boto3
      - psycopg2-binary
